LoginPageWidget QWidget {
/*    background-color: #aaa;*/
}

QPushButton {

    
}

QWidget {
/*    background-color: #fff;*/
}

CourseSingleView {
    background-color: white;
}

UserListView QListWidget::item,
CourseListView QListWidget::item,
ModuleListView QListWidget::item, 
ModuleItemTreeView QTreeWidget::item {
    padding: 10px;
}

CourseSingleView QLabel,
ModuleSingleView QLabel,
ModuleItemSingleView QLabel {
/*    background-color: white;*/
    padding: 10px 5px;
    border: 1px solid #ddd;
}
CourseSingleView QPushButton,
ModuleSingleView QPushButton,
ModuleItemSingleView QPushButton {
    padding: 10px 20px;
}

BreadcrumbWidget QPushButton {
    
}

PageSingleView QFrame{
	border: 1px solid rgb(82, 132, 211);
}

AnswerSingleView {
/*	border-radius: 0;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
AnswerSingleView {
	border: 1px solid rgb(82, 132, 211);
}
AnswerSingleView[isChecked="true"] {
	border: 1px solid rgb(105, 210, 81);
}
AnswerHeaderWidget QCheckBox {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	background: rgb(82, 132, 211);
	color: rgb(255, 255, 255);
}

AnswerSingleView[isChecked="true"] AnswerHeaderWidget QCheckBox {
	background: rgb(105, 210, 81);
	color: rgb(255, 0, 0);
}

AnswerHeaderWidget QCheckBox::indicator {
}

QPushButton#checkAnswerButton {
/*	background: rgb(94, 196, 70);*/
	padding: 10px 0;
	font-size: 16px;
}
QPushButton#nextPageButton {
	padding: 10px 15px;
	font-size: 15px;

}
PageButton {
}
PageButton[isActive="true"] {
	font-weight: bold;
}
PageButton[completeness="50"] {
	background: rgb(237, 220, 128);
}
PageButton[completeness="100"] {
	background: rgb(106, 216, 99);
}
CheckAnswerLabel {
	border: 3px solid rgb(216, 99, 99);
	padding: 10px;
}
CheckAnswerLabel[completeness="100"] {
	border: 3px solid rgb(106, 216, 99);
}

TopPanelWidget BreadcrumbWidgetItem,
TopPanelWidget #backButton {
/*	padding: 15px 10px;*/
	/*height: 25px;*/
	padding: 10px 20px;
}
TopPanelWidget BreadcrumbWidgetItem[isCurrent="true"] {
	font-weight: bold;
}
TopPanelWidget {
/*	background: #fff;*/
/*	padding: 0 0px;*/
/*	margin: 100px;*/
/*	border: 1px solid #aeaeae;*/
}
TopPanelWidget #userNameWidget {
	/*padding: 10px;
	background: #fff;
	border: 1px solid #aaa;*/
}

LoginPageWidget
{
	background: #fff url(":/images/flamingo.jpg") right bottom no-repeat;
}

LoginPageWidget #loginForm {
/*	background: #fff;*/
/*	border: 1px solid #aaa;*/
	padding: 00px;
}
LoginPageWidget #headerLabel {
	font-size: 16px;
/*	margin: 0 0 5px 170px;*/

}
